<html>
<head>
  <title>Modifier le potin</title>
</head>
<body>
  <h1>Modifier le potin :</h1>
  <form action='/gossips/new/' method='POST'>
    Modifie ici ton nom :  <input type='text' name='gossip_author' value="<%= gossips.author %>"/><br/>
    Et ici ton potin : <input type='text' name='gossip_content' value="<%= gossips.content %>"/><br/>
    <input type='submit'/>
  </form>
</body>
</html>