<html>
<head>
  <title>Page du potin</title>
</head>
<body>
  <h2> Voici la page du potin n°<%= id_gossip %></h2>

    <p>Son auteur : <%= gossips.author %><br/>
    Le contenu du potin : <%= gossips.content %><br/>
    <a href="./<%= id_gossip %>/edit/">Editer le potin</a>
  </p>
</body>
</html>